<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Workout date</th>
    <th>Workout type</th>
    <th>Distance</th>
    <th>Location</th>
    <th>Unit</th>
    <th>Subtype</th>
    <th>Duration</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.name %></td>
    <td><%= workout.workout_date %></td>
    <td><%= workout.workout_type %></td>
    <td><%= workout.distance %></td>
    <td><%= workout.location %></td>
    <td><%= workout.unit %></td>
    <td><%= workout.subtype %></td>
    <td><%= workout.duration %></td>
    <td><%= workout.comments %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout', new_workout_path %>
