<!DOCTYPE html>
<html>
<head>
  <title>WorkoutLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Workout Tracker</a>
    <ul class="nav">
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Log", workouts_path %></li>

    </ul>
  </div>
</div>


<div class="container">

<%= yield %>

</div>

</body>
</html>
